<div class="table-content-wrapper table-content">
  <div class="table-content-wrap">
    <div class="table-content-header table-header">
      <button [ngClass]="{'table-header__btn-add-focus': addFormVisible}" class="table-header__btn-add" (click)="addItemVisible()">
        <svg class="table-header__icon-add" width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path  d="M23.5 23V9H9.5V23H23.5ZM23.5 7C24.0304 7 24.5391 7.21071 24.9142 7.58579C25.2893 7.96086 25.5 8.46957 25.5 9V23C25.5 23.5304 25.2893 24.0391 24.9142 24.4142C24.5391 24.7893 24.0304 25 23.5 25H9.5C8.96957 25 8.46086 24.7893 8.08579 24.4142C7.71071 24.0391 7.5 23.5304 7.5 23V9C7.5 7.89 8.4 7 9.5 7H23.5ZM15.5 11H17.5V15H21.5V17H17.5V21H15.5V17H11.5V15H15.5V11Z" fill="#979797"/>
        </svg>
      </button>

      <button [ngClass]="{'table-header__btn-delete-focus': modalVisible}" class="table-header__btn-delete" (click)="deleteModal()">
        <svg class="table-header__icon-delete" width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M23.5 8H20L19 7H14L13 8H9.5V10H23.5V8ZM10.5 23C10.5 23.5304 10.7107 24.0391 11.0858 24.4142C11.4609 24.7893 11.9696 25 12.5 25H20.5C21.0304 25 21.5391 24.7893 21.9142 24.4142C22.2893 24.0391 22.5 23.5304 22.5 23V11H10.5V23Z" fill="#979797"/>
        </svg>
      </button>
    </div>
    <div class="table-content-container form-container">
      <div class="form-container__header form-item-header">
        <div class="form-item-header__container">
          <div class="form-item-header__checkbox-wrap">
            <input type="checkbox" id="form-item-header__checkbox" (click)="resetCheck()" [checked]="allIdDelete.length > 0" [disabled]="allIdDelete.length <= 0"/>
            <label for="form-item-header__checkbox"></label>
            <span class="form-item-header__checkbox-label-text">Имя и Фамилия</span>
          </div>

          <p class="form-item-header__email">E-mail</p>
          <p class="form-item-header__phone">Номер телефона</p>
        </div>
      </div>

      <div *ngIf="addFormVisible" class="form-container-add__content form-item-add">
        <div class="form-item-add__wrap">
          <div class="form-item__checkbox-wrap">
            <input type="checkbox" [disabled]="true" id="form-item-add__checkbox" />
            <label for="form-item-add__checkbox"></label>
            <input class="form-item-input-add__full-name" [(ngModel)]="addItemFullName" #addFullName (ngModelChange)="changeAddFullName($event, addFullName)" />
          </div>

          <input class="form-item-input-add__email" [(ngModel)]="userAddItem.email" #addEmail (ngModelChange)="changeAddEmail($event, addEmail)" />
          <input class="form-item-input-add__phone" [(ngModel)]="userAddItem.phone" #addPhone (ngModelChange)="changeAddPhone($event, addPhone)" />
        </div>

        <div class="form-item-add__edit-btn">
          <button class="form-item-add__btn-save" (click)="postUser()">Сохранить</button>
          <button class="form-item-add__btn-cancel" (click)="addItemVisible()">Отменить</button>
        </div>
      </div>

      <div class="form-container__content-wrap">
        <div
          (mouseenter)="mouseOver($event, i)"
          (mouseleave)="mouseLeave($event, i)"
          class="form-container__content form-item"
          *ngFor="let user of users$ | async; let i = index"
          [ngClass]="{'form-container__content_background-focus': usersCopy[i].checked}"
        >
          <div class="form-item__wrap" *ngIf="!usersCopy[i].itemVisible; else inputContainer">
            <div class="form-item__checkbox-wrap">
              <input type="checkbox" [disabled]="checkboxDisabled" (click)="checkInput(i)" id="{{usersCopy[i].id}}" [(ngModel)]="usersCopy[i].checked" (ngModelChange)="check(usersCopy[i])" />
              <label for="{{usersCopy[i].id}}"></label>
              <span class="form-item-header__checkbox-label-text">{{usersCopy[i].fullName}}</span>
            </div>

            <p class="form-item__email">{{usersCopy[i].email}}</p>
            <p class="form-item__phone">{{usersCopy[i].phone}}</p>
          </div>

          <ng-template #inputContainer>
            <div class="form-item-input__wrap">
              <div class="form-item-input__checkbox-wrap">
                <input type="checkbox" [disabled]="true" (click)="checkInput(i)" id="{{usersCopy[i].id}}" [(ngModel)]="usersCopy[i].checked" (ngModelChange)="check(usersCopy[i])" />
                <label for="{{usersCopy[i].id}}"></label>
                <input class="form-item-input__full-name" [ngModel]="usersCopy[i].fullName" #fullName (ngModelChange)="changeFullName($event, fullName, i)"/>
              </div>

              <input class="form-item-input__email" [ngModel]="usersCopy[i].email" #email (ngModelChange)="changeEmail($event, email, i)" />
              <input class="form-item-input__phone" [ngModel]="usersCopy[i].phone" #phone (ngModelChange)="changePhone($event, phone, i)" />
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-form-delete" *ngIf="modalVisible">
    <div (click)="modalVisible = false; count = 0" class="modal-form-delete__substrate"></div>
    <div class="modal-form-delete__content">
      <h1 class="modal-form-delete__title">Удаление строк</h1>
      <p class="modal-form-delete__text">Удалить выбранные строки ({{count}})?</p>

      <div class="modal-form-delete__btn-container">
        <button class="modal-form-delete__btn" (click)="modalVisible = false; count = 0">отменить</button>
        <button class="modal-form-delete__btn modal-form-delete__btn_red" (click)="deleteUsers()">удалить</button>
      </div>
    </div>
  </div>
</div>
